<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="../../static/CSS/Class-11CSS/Class11index.css"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> </title>
  </head>

  <body>
    <div class="container">
      <h1>Class-11 Chapters</h1>
      <ul>
        <li><a href="11ch1">What is Psychology</a></li>
        <li><a href="11ch2">Methods of Enquiry</a></li>
        <li><a href="11ch3">The Bases of Human Behaviour</a></li>
        <li><a href="11ch4">Human Development</a></li>
        <li><a href="11ch5">Sensory, Attention and Perceptual Processes</a></li>
        <li><a href="11ch6">Learning</a></li>
        <li><a href="11ch7">Human Memory</a></li>
        <li><a href="11ch8">Thinking</a></li>
        <li><a href="11ch9">Motivation and Emotion</a></li>
      </ul>
    </div>
  </body>
</html>
