<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <form action="/store" method="POST">
            <label for="Name">Full name</label>
            <input type="text" name="Name" id="Name" placeholder="Your name here" required="">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>