<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/CSS/index.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        <ul>
            <li class="items"><a href="/">Home</a></li>
            <li class="items"><a href="/class11">Class-11</a></li>
            <li class="items"><a href="">Class-12</a></li>
            <li class="items"><a href="/about">About</a></li>
        </ul>
    </nav>
    <div id="intro">
        <h1>Psychology</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem eius impedit quos. Deserunt nam repellendus quo minus voluptate quia minima facere nulla magni mollitia temporibus sed pariatur libero atque labore error et excepturi possimus amet, alias aliquid beatae quibusdam, architecto quos. Repellendus minima soluta repudiandae provident architecto totam officiis, dicta natus quibusdam corrupti quos. Vel maiores molestias consequatur perferendis officiis. Eius soluta labore voluptate optio maiores necessitatibus officia dolore earum magni est incidunt fugiat eveniet, quas odit quod doloremque sequi.</p>
    </div>
</body>

</html>